#googlelogo {
    padding-top: 109px;
    line-height: 16px;
    margin-top: 47px;
}
input[type=text] {
    width: 50%;
    font-size: 20px;
    box-sizing: border-box;
    background-color: white;
    background-image: url('https://www.google.com/images/searchbox/desktop_searchbox_sprites302_hr.png');
    background-size: 30px 60px;
    background-position-y:5px;
    background-position-x: 6px;
    background-repeat: no-repeat;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left:50px;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.signinbtn {
    background-color: rgb(52, 142, 199);
    color: white;
    font-size: 14px;

    font-weight: bold;
}